* {
    margin: 0;
    padding: 0;
  font-family: "Jost", sans-serif;   
}
#banner {
    background: linear-gradient(rgba(8, 1, 1, 0.664),#42066981 ), url(sauce_assets/sauce_aqua.webp);
    background-size: cover;
    background-position: absolute;
    height: 100vh;
}
.logo{
    width: 140px;
    position:absolute;
    top: 20px;
    left: 10px;
}
.banner-text{
    text-align: center;
    color: #ffffff;
    padding-top: 180px;
    text-shadow: 10px 12px 10px #000000;

}
.banner-text h1{
    font-size: 55px;
     font-family: "Anton", sans-serif;

}
.banner-text h1:hover{
    color: #b0f3f3;
    transition: 1s;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    size: 800px;
}
.button{
    display: inline-block;
    background: url(sauce_assets/green\ goo.webp);
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    border: 2px solid #ab35f0;
    cursor: pointer;

    
}

.button:hover{
    background: url(sauce_assets/purple\ goo.webp);
    color: #000;
    border: 2px solid 
}

#sideNav{
    width:250px;
    height: 100vh;
    position: fixed;
    right:-250px;
    top:0;
    background:#ab35f0 url(sauce_assets/purple\ goo.webp);
    z-index: 2;
    transition: 1s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #e77bc7;

}
#menuBtn{
    width: 27px;
    height: 47px;
    background: #250538;
    position: fixed;
    right: 1px;
    top: 20px;
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
    padding-left: 7px;
    padding-bottom: 7px;
    
}
#menuBtn img{
width: 20px;
margin-top: 15px;
}
@media screen and (max-width: 600px){
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text a{
        display: block;
        margin: 20px auto;
    }

}
/*saucecast section*/
#saucecast{
   
    padding-top:100px;
    margin: auto;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.733),#00000081 ), url(sauce_assets/sauceboiz_stage2.jpg);
    background-size: cover;
    color: #fad5ef;
}
#saucecast h3{
     text-shadow: 6px 6px 6px #240321;
    font-size: 40px;
    font-weight: 600;
}
#saucecast p{
    text-shadow: 6px 6px 6px #240321;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.saucecast-col{
    flex-basis: 30%;
    background: #1b1919;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: 0.5s;

}
.h3{

    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.saucecast-col:hover {
    box-shadow: 0 0 20px 0 #e77bc7;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
#artists{
    display: inline-block;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.733),#3f034e81 ), url(sauce_assets/sauce_logo2.jpg);
    background-size: cover;
    color: #fad5ef;
}
.artist-col{

    width: 80%;
    padding: 5px;
    margin: 60px auto 50px;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.artist-col img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;

}
.artist-col h2{
    text-shadow: 6px 6px 6px #240321;

}
.artist-col:hover{
    box-shadow: 0 0 25px 0 #110f01;
    border-radius: 10%;
    transition: 0.5s;
}
.layer{
    background: rgba(226, 112, 59, 0.288);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 1s;
    
       
}
.layer button a{
    text-decoration: none;
    color: #faf8f8;
    text-shadow:6px 6px 6px #110f01;
}
.layer:hover{
        background: #1a64c5;
        transition: 1s;

     }
     
     .layer h3{
        text-shadow: 6px 6px 6px #110f01;
        width: 100%;
        font-weight: 500;
        color: #faf8f8;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%);
        position: absolute;

     }
     .layer h1{
        text-shadow: 6px 6px 6px #110f01;

     }
     .layer:hover h3{
        bottom: 40%;
        opacity: 1;
     }
     .layer p{
        color:#faf8f8;

     }
     .insta{
    display: inline-block;
    background: url(sauce_assets/purple\ goo.webp);
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    border: 2px solid #940799;
    cursor: pointer;

    
}
.insta:hover{
    background: url(sauce_assets/insta.webp);
    color: #000;
    border: 2px solid #1a64c5;
}           
.merch_events{
    font-family: 'Lemon/Milk', sans-serif;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(rgba(102, 94, 25, 0.733),#343d0281 ), url(sauce_assets/sauce_banner3.jpg);
    background-size: cover;
    color: #fff;
}
.merch_h1{
    text-shadow: 6px 6px 6px #240321;
    font-family: 'Lemon/Milk', sans-serif;
    position: relative;
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #cec3d4
}

.merch_h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #ab35f0;
    margin: auto;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: 1s;
}
.merch_h1:hover::after{
    width: 360px;
    transition: 1s;
}
.merch_background{
    box-shadow: 0 0 20px 0 #311c2e;
    background: rgba(193, 86, 219, 0.589);
    padding: 20px;
    border-radius: 30px;
    margin: 0 20px;
    color:#000;
    transition: 1s;
    
}
.merch_background:hover{
    box-shadow: 0 0 20px 0 #ccbc46;
    background: #0c0c0c;
    transition: 1s;
    color: #f7f581;
}
.sbicons{
    display: inline-block;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;


}
.social-icons button{
    flex-direction: row;;
    background: url(sauce_assets/insta.webp);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    border: 2px solid #d6129b;
    cursor: pointer;

    
}
.social-icons button:hover{
    background: url(sauce_assets/insta2.webp);
    color: #000;
    border: 2px solid #da990d;
}
.social-icons button a{
    text-decoration: none;
    color: #fff;
}
.social-icons button2{
    flex-direction: row;
    background: url(sauce_assets/saucetube.webp);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    border: 2px solid #910202;
    cursor: pointer;

    
}
.social-icons button2 a{
    text-decoration: none;
    color: #fff;
}
.social-icons button2:hover{
    background: url(sauce_assets/sauce_white.webp);
    color: #000;
    border: 2px solid #ffffff36;
}
.social-icons button2 a:hover{
    text-decoration: none;
    color: #8f0b0b;
 
}
.social-icons button3{
    
    flex-direction: row;
    background: url(sauce_assets/sauce_tiktok.webp);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    border: 2px solid #e7117c;
    cursor: pointer;

    

}
.social-icons button3 a{
    color:#000;
    text-decoration: none;
}